<div class="nav-container">
<nav class="navbar">
   <span class="nav-item active">
    <%= link_to root_path, class: "nav-link home-link" do %>
  Home
  <% end %>
  </span>
  <% if user_signed_in? %>
    <span class="nav-item">
     <%= link_to 'Créer un article', new_post_path, class: "nav-link #{ "active" if request.fullpath == new_post_path }" %>
    </span>

    <span class="nav-item">
<%= link_to "All articles", posts_path, class: "nav-link" %>

    </span>
    <span class="nav-item">
      <%= link_to(destroy_user_session_path, method: :delete, class: "dropdown-item logout-link") do %>
        Log out
        <i data-feather="bell"></i>
      <% end %>
    </span>
  <% else %>
    <span class="nav-item">
      <%= link_to "Log in or sign up", new_user_session_path, class: "nav-link" %>
    </span>
  <% end %>
</nav>
</div>
```
